@import "vars";
@import "mixins";

a {
  text-decoration: none;
  color: inherit;
}
#main-visual {
  height: 100vh;
  overflow: hidden;
  .visual01 {
    background-image: url("/images/main/mv_01.jpg");
  }
  .visual02 {
    background-image: url("/images/main/mv_02.jpg");
  }
}
.btn {
  position: absolute;
  top: 50%;
  z-index: 2;
  color: #fff;
  font-size: 36px;
  padding: 20px 30px;
  font-weight: 300;
  text-transform: uppercase;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  &-next {
    right: 0;
  }
}
.pagination {
  position: absolute;
  bottom: 50px;
  z-index: 3;
  display: flex;
  justify-content: center;
  .swiper-pagination-bullet {
    background-color: #fff;
    border-radius: 100;
    opacity: 1;
    &-active {
      background-color: $main-color;
    }
  }
}
// main visual end
